#root {
  // width: 100vw;
  height: 100vh;
}

.text-btn {
  color: gray;
  transition: all 0.3s ease-out;

  &:hover {
    color: #3f5efb;
    transition: all 0.3s ease-out;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.textCenter {
  text-align: center;
}


.container {
  width: 70%;
  margin: 0 auto;
  min-height: 100%;
  background-color: white;
}